<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>exp-IoMT Portal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="static/css/styles.min.css">
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container-fluid"><a class="navbar-brand exp" href="{{url_for('login')}}" style="color:#000000;">exp-IoMT</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1"></div>
             </div>
        </nav>
        <div class="col-7">
            <h1 class="expp">exp-IoMT• IoMT Vulnerability Scanning Made Easy.</h1>
        </div>
        <div class="col-5">
            
        </div>
        <div class="col-12">
            <p class="note utilise"><strong>Important:</strong> exp-IoMT utilises Raspberry Pi devices as a vulnerability scanner. <br> <strong>Does the targeted network contain an active Raspberry Pi device/devices?</strong></p>
            <a href="#" class="myButton">Yes</a>
            <a href="#" class="maButton">No</a>
        </div>
    </div>
    
   
    
    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <input type="submit" name="submit" value="Let's Start!" class="btn lets btn-primary btn-block" style="font-size : 1.3rem; background-color:#000000;color:rgb(255, 255, 255);">
            </div>
           
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>

</html>
